body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #b9eaff;
}

h1 {
    color: #333;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
